<h1>Project List</h1>
<% @projects.each do |project| %>

<div>
<br>
<%=  link_to project.name, project_path(project) %>
<br>
<br>
<%= project.description %>
<br>
<br>
<%= link_to "Edit Project", edit_project_path(project) %> | <%= link_to "Delete Project", project_path(project), method: :delete, data:{confirm: "Are you sure?"}%>
<h2>__________________________________</h2>
</div>
<% end %>

